<div class="navbar bg-base-100 shadow-2xl shadow-black">
    <div class="flex-1">
      <a routerLink="/" class="btn btn-ghost normal-case text-xl" >Proyecto-Integrador</a>
    </div>
    <div class="flex-none  " >
      <ul class="menu menu-horizontal r-0">
        <li><a routerLink="/ticket">Ticket</a></li>
        <li><a routerLink="/carrera">Carrera</a></li>
        <li><a routerLink="/usuario">Usuario</a></li>
        <li><a routerLink="/respuesta">Respuesta</a></li>
      </ul>
    </div>
  </div>
